<a class="flex items-center" href="https://www.linkedin.com/" target="_blank" rel="noopener"><span class="dark:text-green-800 dark:bg-green-100 dark:hover:bg-green-800 dark:hover:text-green-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300 self-center transition-colors duration-300">
    <slot/>
</span></a>