<header class="flex justify-between w-[1120px] py-3">
    <img class="rounded-full h-12 w-12" src="favicon.png" alt="ivan-photo">
    <nav class="flex flex-row items-center gap-x-10 opacity-70 text-base">
        <a href="#home">Inicio</a>
        <a href="#project">Proyectos</a>
        <a href="#about">Acerca de mí</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>